/* TOP MENU*/
.navigation-fixed-top {
    background-color: rgba(64, 64, 64, 0.3);
    border-bottom: 1px solid Maroon;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul.navbar {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
}

ul.navbar li {
    padding-right: 25px;
    display: inline;
}

li.item-nav {
    color: aliceblue;
}

/* TOP MENU*/

/* URL STYLE */

.navbar a {
    text-decoration: none;
    color: azure;
}

.navbar a:hover {
    text-decoration: underline;
}