body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.main {
  padding: 0px 15px 0px 15px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 95px;
  /* top scroll */
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}


/* MAIN BLOCK*/
.banner-full {
  background-image: url(../assets/img/mountains.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-full::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 38, 45, 0.5);
  content: '';
}

/* Typewriter */
.typewriter {
  letter-spacing: .20em;
}

.typewriter h1 {
  font-size: 2.5em;
  overflow: hidden;
  border-right: .15em solid azure;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation:
    typing 3s steps(35, end),
    caret .6s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: azure
  }
}

.welcome {
  color: azure;
  text-align: center;
  z-index: 1;
}

.mouse-position {
  position: absolute;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
}

.mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 60px;
  box-sizing: border-box;
  border: 3px solid #ffffff;
  border-radius: 23px;
}

.mouse-buttom {
  position: absolute;
  display: block;
  top: 70%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #ffffff;
  border-radius: 50%;
}

.mouse-position a:hover .mouse-buttom {
  background: #e7077bf5;
  top: 30%;
}

.section-title {
  width: 91%;
  background-color: #F6F8FA;
  border-left: 50px solid #e7077bf5;
  margin: 10px 0px 50px 0px;
}

.section-title h2 {
  height: 29px;
  padding: 10px 0px 40px 20px;
}

/* MAIN BLOCK*/

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  margin-top: 30px;
}

.section-indent {
  margin-top: 30px;
}

.section-skills {
  width: 50%;
  /*padding: 1.5rem;*/
}

@media (max-width: 1020px) {
  .section {
    width: 100%;
  }
}

@media (max-width: 1020px) {
  .section-skills {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .progress {
    border-radius: 8px;
    width: 200px;
    height: 12px;
  }
}

/* SKILLS BLOCK*/
.section-indent ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.section-indent li {
  margin-top: 10px;
}

label {
  padding-right: 18px;
  font-size: 1rem;
  font-weight: 500;
}

progress {
  border-radius: 8px;
  width: 500px;
  height: 12px;
}

progress::-webkit-progress-bar {
  color: black;
  background-color: rgb(230, 230, 230);

}

progress::-webkit-progress-value {
  background-color: rgb(104, 104, 104);

}

.skils-name {
  width: 500px;
  /*float: left;*/
}

.skils-percent {
  float: right;
}

/* SKILLS BLOCK*/

/*ABOUT ME*/
.avatar {
  text-align: center;
}

.about-me {
  text-align: justify;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33%;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  /* align-items: center;*/
  align-content: center;
  justify-content: space-between;
}

/*ABOUT ME*/

/* CODEWARS */
.section-indent pre {
  padding: 10px;
  overflow: auto;
  font-size: 85%;
  border-radius: 4px;
  background-color: #f6f8fa;
}

.section-code-example {
  width: 100%;
}

/* CODEWARS */


/*FOOTER*/
.footer {
  height: 80px;
}

.row-footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: azure;
  text-align: center;
}

.container-footer {
  margin-top: 30pt;
}

.github {
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
}

.github a {
  padding-left: 10px;
}

.footer-wrap {
  background: #1E232C;
  height: 180px;
}

.section ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/*FOOTER*/

/* CONTACTS */

.contact-name {
  width: 15%;
  float: left;
}

.contact-value {
  width: 23.5%;
}

/* CONTACTS */